<div class="form-wrap">
	<div class="container">
	  <div class="row">
	    <div class="col-md-6 offset-md-3 text-center align-self-center reg-form" id="navform">
	    	<h2 id="f-hospitalresgister">병원을 등록해주세요.</h2>
	        <div class="signup__character"><%= image_tag("gomdol3.png") %></div>
				<%= form_for @vet do |f| %>
				
				<div class="f-hospitalname">
					<%= f.label :병원_이름 %>
				</div>
				<div class="form-group">
						<%= f.text_field :vtitle, id: "vtitle", prompt: "선택", class: "form-control" %>
				</div>
	
				<div class="f-hospitallocation">
					<%= f.label :주소 %>
				</div>
				<div class="form-group">
					<%= f.text_field :postcode, class: "form-control postcodify_postcode5", placeholder: "주소를 검색해주세요", autofocus: true, value: "" %>
			    <%= f.button "검색", id: "postcodify_search_button", type: "button" %><br />
			    <%= f.text_field :address, class: "form-control postcodify_address", autofocus: true, value: "" %>
			    <%= f.text_field :address_detail, class: "form-control postcodify_details", autofocus: true, value: "" %>
				</div>
		
				<div class="f-hospitalphone">
					<%= f.label :전화번호 %>
				</div>
				<div class="form-group">
					<%= f.text_field :telephone, placeholder: "전화번호를 입력해주세요", class: "form-control" %>
				</div>
			
				<div class="f-hospitalhomepage">
					<%= f.label :홈페이지 %>
				</div>
				<div class="form-group">
					<%= f.text_field :homepage, placeholder: "홈페이지/블로그 주소를 입력해주세요", class: "form-control" %>
				</div>
		
				<div class="f-hospitalintro">
					<%= f.label :병원_소개 %>
				</div>
				<div class="form-group">
					<%= f.text_area :description, rows: 5, placeholder: "병원을 소개해주세요", class: "form-control" %>
				</div>
					
				<div class="f-hospitalspecial">
					<%= f.label :특이_사항 %>
				</div>
				<div class="form-group" id="f-check">
					<div class="f-check">
						<%= f.check_box :hour %> 24시간
					</div>
					<div class="f-check">
						<%= f.check_box :hotel %> 호텔
					</div>
					<div class="f-check">
						<%= f.check_box :beauty %> 미용
					</div>
					<div class="f-check">
						<%= f.check_box :supply %> 용품 판매
					</div>
				</div>
				
				<div class="row">
					<div class="col-2" id="f-imageregister">
						<div class="f-hospitalimage">
							<%= f.label :사진_등록 %>
						</div>
					</div>
					<div class="col-10">
						<div class="form-group">
							<span class="btn btn-default btn-file" id="fileselect">
								<i class="fa fa-cloud-upload fa-lg"></i>사진 올리기
								<%= file_field_tag "images[]", type: :file, multiple: true %>
							</span>
						</div>
					</div>
				</div>
	
					<div id="photos"><%= render 'photos/list' %></div>
									
					<div class="row">
						<div class="col">
							<div class="f-saving">
								<div class="actions">
									<%= f.submit "저장하기", class: "submitbtn" %>
								</div>
							</div>
						</div>
					</div>
					
				<% end %>
			
			</div>
		</div>
	</div>
</div>

<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>