<!-- 기본구조 

<<admincontainer>>

1. carouselsec

2. adminhospitaltext
 2-1 hospitaltitle
 2-2 hospitalinfo
-->

	<%= form_for @vet do |f| %>
 
  <div id='admincontainer'>
    <div class= "carouselsec" id="showcarousel">
     <%= render 'shared/carousel-admin' %>
    </div> <!-- carouselsec 끝 -->
    <div class= "adminhospitaltext">
      <div class= "hospitaltitle"> 
        <h1>	<div class="form-group">
						<%= f.text_field :vtitle, id: "vtitle", prompt: "선택", class: "form-control titlebar" %>
				</div>
	  
    <!--    <span class= "addpic"> -->
    <!--<i class="fa fa-picture-o" aria-hidden="true" data-toggle="modal" data-target="#addpicModal"></i>-->
    <!--</span>-->
   
      </h1> 
       
     </div> <!-- hospitaltitle 끝 -->
      
       <div class= "hospitalinfo">
                <div class= "row">
                 <div class= "col-xl-6 col-md-6 infolist">
                  <div class="indexline"> 
                    <div class= "basicinfohead">기본정보</div>
               
                    </div>
                  <div class="indexline">
                     <div class= "row">
                       <div class= "col-3 indexicon">
                          <div class= "icon">병원주소</div>
                       </div>
                       <div class= "col-9 indexicontext">
                          <div class = "address">	
                          <div class="form-group">
                     					  <%= f.text_field :postcode, class: "form-control postcodify_postcode5", placeholder: "주소를 검색해주세요", autofocus: true, value: "" %>
                     			    <%= f.button "검색", id: "postcodify_search_button", type: "button" %><br />
                     			    <%= f.text_field :address, class: "form-control postcodify_address", autofocus: true, value: "" %>
                     			    <%= f.text_field :address_detail, class: "form-control postcodify_details", autofocus: true, value: "" %>
				                      </div>
				                      </div>
                       </div>
                     
                     </div>
                  </div> 
                  <div class="indexline">
                     <div class= "row">
                       <div class= "col-3 indexicon">
                          <div class= "icon">병원전화</div>
                       </div>
                       <div class= "col-9 indexicontext">
                          <div class = "telephone">
                            <div class="form-group">
					                        <%= f.text_field :telephone, placeholder: "전화번호를 입력해주세요", class: "form-control" %>
				                        </div>
				                      </div>
                       </div>
                       
                     </div>
                  </div> 
                  
                  <div class="indexline">
                     <div class= "row">
                       <div class= "col-3 indexicon">
                          <div class= "icon">특이사항</div>
                       </div>
                       <div class= "col-9 indexicontext">
                         <div class = "amenities checks">	
                          <div class="form-group" id="f-check">
                      					<p class="f-check">
                      						<%= f.check_box :hour %> 24시간
                      					</p>
                      					<p class="f-check">
                      						<%= f.check_box :hotel %> 호텔
                      					</p>
                      				</div>
                      				<div class="form-group" id="f-check">
                      					<p class="f-check">
                      						<%= f.check_box :beauty %> 미용
                      					</p>
                      					<p class="f-check">
                      						<%= f.check_box :supply %> 용품 판매
                      					</p>
                      				</div>
                      			</div>
                       </div>
                        
                     </div>
                    </div> 
                  <div class="indexline">
                     <div class= "row">
                       <div class= "col-3 indexicon">
                          <div class= "icon">추가정보</div>
                       </div>
                       <div class= "col-9 indexicontext">
                          <div class = "moreinfo">
                           <div class="form-group">
					                       <%= f.text_area :description, rows: 5, placeholder: "병원을 소개해주세요", class: "form-control" %>
				                       </div>
				                      </div>
                       </div>
                      
                     </div>
                    </div>
                  <div class="indexline">
                     <div class= "row">
                       <div class= "col-3 indexicon">
                          <div class= "icon">홈페이지</div>
                       </div>
                       <div class= "col-9 indexicontext">
                          <div class = "time">
                           <div class="form-group">
					                       <%= f.text_field :homepage, placeholder: "홈페이지/블로그 주소를 입력해주세요", class: "form-control" %>
				                       </div>
				                      </div>
                       </div>
                       
                     </div>
                    </div> 
                 </div>
            
                 <div class= "col-md-6 col-xs-4 pricelist"> 
                  <div class="indexline"> 
                   <!--<div class="col-10 offset-1">-->
                    <div class= "basicinfohead">가격정보
                    <SPAN class="addprice">
                     <i class="fa fa-plus-circle" aria-hidden="true" data-toggle="modal" data-target="#addpriceModal"></i>
                     <%=render 'shared/modal-addprice' %>
                     </SPAN>
                    </div>
                    <!--</div>-->
                    </div>
                
                   <div class="indexline"> 
                    <div class= "row">
                     <div class= "col-7 offset-1">
                      <div class= "pricetitle">강아지 기본진료</div>
                     </div>
                     <div class= "col-3">
                      <div class= "price">5000</div>
                     </div>
                       <div class="col-1 editicon">
                         <i class="fa fa-pencil" aria-hidden="true" data-toggle="modal" data-target="#editpriceModal"></i>
                        <%= render 'shared/modal-editprice' %>
                        </div>
                     
                    </div>
                   </div>
                   
                   <div class="indexline"> 
                    <div class= "row">
                     <div class= "col-7 offset-1">
                      <div class= "pricetitle">강아지 기본진료</div>
                     </div>
                     <div class= "col-3">
                      <div class= "price">5000</div>
                     </div>
                      <div class="col-1 editicon">
                         <i class="fa fa-pencil" aria-hidden="true" data-toggle="modal" data-target="#editpriceModal"></i>
                        </div>
                    </div>
                   </div>
                   
                   <div class="indexline"> 
                    <div class= "row">
                     <div class= "col-7 offset-1">
                      <div class= "pricetitle">강아지 기본진료</div>
                     </div>
                     <div class= "col-3">
                      <div class= "price">5000</div>
                     </div>
                       <div class="col-1 editicon">
                         <i class="fa fa-pencil" aria-hidden="true" data-toggle="modal" data-target="#editpriceModal"></i>
                        </div>
                    </div>
                   </div>
                   
                   <div class="indexline"> 
                    <div class= "row">
                     <div class= "col-7 offset-1">
                      <div class= "pricetitle">강아지 기본진료</div>
                     </div>
                     <div class= "col-3">
                      <div class= "price">5000</div>
                     </div>
                       <div class="col-1 editicon">
                         <i class="fa fa-pencil" aria-hidden="true" data-toggle="modal" data-target="#editpriceModal"></i>
                        </div>
                    </div>
                   </div>
                   
                   <div class="indexline"> 
                    <div class= "row">
                     <div class= "col-7 offset-1">
                      <div class= "pricetitle">강아지 기본진료</div>
                     </div>
                     <div class= "col-3">
                      <div class= "price">5000</div>
                     </div>
                       <div class="col-1 editicon">
                         <i class="fa fa-pencil" aria-hidden="true" data-toggle="modal" data-target="#editpriceModal"></i>
                        </div>
                    </div>
                   </div>
                  
     <div class="edit-pictureupload">
						<div class="form-group">
							<span class="btn btn-default btn-file" id="fileselect">
								<i class="fa fa-cloud-upload fa-lg"></i>사진 올리기
								<%= file_field_tag "images[]", type: :file, multiple: true %>
							</span>
						</div>
		   </div>

	
					<div id="photos"><%= render 'photos/list' %></div>
					<div class="row">
						<div class="col">
							<div class="edit-saving">
								<div class="actions">
          <%= f.submit "저장하기", class: "btn btn-success submitbtn" %>
								</div>
							</div>
						</div>
					</div>
					
				<% end %>
			
                     
                   
                     
                    </div>
                </div> <!-- hospitalinfo row 끝 -->
                  
      </div> <!-- hospitalinfo 끝 -->
    </div> <!-- adminhospitaltext 끝 -->
  </div> <!-- admincontainer 끝 -->


  <script type="text/javascript">

$('#recipeCarousel').carousel({
  interval: 10000
})

$('.carousel .carousel-item').each(function(){
    var next = $(this).next();
    if (!next.length) {
    next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
    
    if (next.next().length>0) {
    next.next().children(':first-child').clone().appendTo($(this));
    }
    else {
      $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
    }
});
 
    $('#like-unlike').click(function() {
     $(this).toggleClass('fa-heart-o fa-heart');
    });

</script>



<!--..................................................... -->


<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>

<script>
  $(function() { $("#postcodify_search_button").postcodifyPopUp(); });
</script>