<div class="panel panel-default">
	<div class="panel-body">
		
		<!-- Image -->
		<div class="row">
			<div class="col-md-12">
				<%= image_tag @photos[0].image.url(), class: "img-responsive" if @photos.length > 0 %>
			</div>
		</div>

		<br>

		<!-- Main Info -->
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-3 text-center">
					</div>

					<div class="col-md-9">
						<h4><%= @vet.vtitle %></h4>
						<%= @vet.address %>

						<div class="row text-center row-space-1">
							<div class="col-sm-3">
								<i class="fa fa-home fa-2x"></i>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="col-md-4">
				<!-- Reservation form -->	
			</div>
		</div>

		<!-- About -->
		<div class="row">
			<div class="col-md-12">
				<h2>병원 소개</h2>
				<p><%= @vet.description %></p>
			</div>
		</div>
		
		<!-- Reservation Form -->
		<%= render 'reservations/form' %>

		<!-- Amenities -->
		<div class="row">
			<div class="col-md-2">
				<p>추가 정보</p>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-6">
						<ul class="amenities">
							<li class="<%= 'text-line-through' if !@vet.hotel %>">호텔</li>
							<li class="<%= 'text-line-through' if !@vet.supply %>">용품 판매</li>
							<li class="<%= 'text-line-through' if !@vet.hour %>">24시간 진료</li>
						</ul>
					</div>
					<div class="col-md-6">
						<li class="<%= 'text-line-through' if !@vet.beauty %>">미용</li>
					</div>
				</div>
			</div>
		</div>

		<!-- Carousel -->
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				  
					<% if @photos %>
						<!-- Indicators -->
				    <ol class="carousel-indicators">
							<% @photos.each do |photo| %>
								<li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
							<% end %>	
						</ol>				
					<% end %>     

				  <div class="carousel-inner" role="listbox">
				    <% if @photos %>				
							<% @photos.each do |photo| %>
								<div class="item <%= 'active' if photo.id == @photos[0].id %>">          
				          <%= image_tag photo.image.url() %>
				        </div>
							<% end %>	
						<% end %>
				  </div>

				  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">이전</span>
				  </a>
				  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">다음</span>
				  </a>
				</div>
			</div>
		</div>

		<br>
		<hr>

		<!-- Reviews -->
		
		<div class="row">
			<div class="col-md-12">
				<h3> Reviews <span id="average_rating"></span> (<%= @reviews.count %>) </h3>
				<div class="container">
					<div>
						<%= render 'reviews/form' if !@hasReview %>
					</div>
					<div>
						<%= render 'reviews/list' %>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Google Map -->
		<div class="row">
			<div class="col-md-12">

          <div id="map"></div>
          <script>
            function initMap() {
              var vet = {lat: <%= @vet.latitude %>, lng: <%= @vet.longitude %>};
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: vet
              });
              var marker = new google.maps.Marker({
                position: vet,
                map: map
              });
            }
          </script>
          <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAP_API_KEY"]%>&callback=initMap">
          </script>    


			</div>
		</div>


	</div>
</div>

 <script>
		$('#average_rating').raty({
			path: '/assets',
	    readOnly: true,
	    score: <%= @vet.average_rating %>
	  })
 </script>