<div class="container text-center my-3">
    <div class="row mx-auto my-auto">
        <div id="adminCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <%= image_tag("character01.png" , class:"d-block col-4 img-fluid admincarouselimg") %>
                </div>
                <div class="carousel-item">
                    <%= image_tag("character02.png" , class:"d-block col-4 img-fluid admincarouselimg") %>
                </div>
                <div class="carousel-item">
                   <%= image_tag("character03.png" , class:"d-block col-4 img-fluid admincarouselimg") %>
                </div>
                <div class="carousel-item">
                   <%= image_tag("character01.png" , class:"d-block col-4 img-fluid admincarouselimg") %>
                </div>
                <div class="carousel-item">
                   <%= image_tag("character02.png" , class:"d-block col-4 img-fluid admincarouselimg") %>
                </div>
                <div class="carousel-item">
                   <%= image_tag("character03.png" , class:"d-block col-4 img-fluid admincarouselimg") %>
                </div>
            </div>
            <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <a class="carousel-control-prev" href="#adminCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#adminCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


<script type="text/javascript">

 $('#recipeCarousel').carousel({
  interval: 10000
})

$('.carousel .carousel-item').each(function(){
    var next = $(this).next();
    if (!next.length) {
    next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
    
    if (next.next().length>0) {
    next.next().children(':first-child').clone().appendTo($(this));
    }
    else {
      $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
    }
}); 



 
    $('#like-unlike').click(function() {
     $(this).toggleClass('fa-heart-o fa-heart');
    });

</script>