  <!--  google tag manager (noscript) 이 뭐야?-->
  <!-- wrap은 전체 페이지를 감싸는 것 -->
  <div id="wrap">
    <!-- header은 타이틀 비디오와 검색div까지를 감싸는 것 -->
    <div id="header">
       <!-- gnb는 globar navbar! 네비게이션 묶음 -->
          <div class="slogan">
            <div class="title">동물병원 찾을땐, 닥터테디!</div>
              <div class="text">신뢰할 수 있는 <span>병원정보</span>와 생생한 <span>사용자 리뷰</span>들을 만나보세요  ('ㅅ')!</br></div>
            <div class="scrolldown">
            <a href="#pagedown"><%=image_tag("scrolldown.png",size: "40x40")%></a>
            </div>              
          </div>
          <div class="video_img">
            <%= video_tag "mainvid.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video_play" %>
          <!--<div class="search_wrap">-->
          <!--</div>-->
        </div>
      </div>
      <!--여기까지가 header-->
      <div class="gstest" id="pagedown">
      <%= form_tag(search_path, local: true, method: :get) do %>
      <%= text_field_tag(:q, nil, data: { behavior: 'autocomplete' }, id: 'main_searchbar', placeholder: '지역,병원명 등을 검색해보세요!') %>
      <%= button_tag '병원검색', type: 'submit' do %>
      <div>병원검색 <i class="fa fa-search aria-hidden="true""></i></div>
      <% end %>
      <% end %>
      </div>      
    <div class="container" id="main-container">
      <div class="main-recent">
        <div class="row">
          <div class="col-12">
            <div class="main-recent-title">
              <h1 class="text-center">최근 리뷰가 등록된 병원</h1>
              <hr>
            </div>
          </div>
          
          <% @vetsreviewtime.take(6).each do |vet| %>
          <div class="col-4">
            <div class="main-item grow">
              <%= image_tag("vet01.jpg") %>
              <div class="main-item-cover">
                <%= link_to "#{vet.vtitle}", vet_path(vet), class: 'cover-title' %>
                <p class="cover-info">
                  <i class="fa fa-star" aria-hidden="true"></i> 
                  <span class= "score"><%= vet.average_rating %></span>
                </p>
              </div>
            </div>
          </div>  
          <% end %>
          <!--<div class="col-4">-->
          <!--  <div class="main-item grow">-->
          <!--    <div class="main-item-cover">-->
          <!--      <p class="cover-title">예은동물병원</p>-->
          <!--      <p class="cover-info">-->
          <!--        <i class="fa fa-star" aria-hidden="true"></i> -->
          <!--        <span class= "score"> 4.5 </span>-->
          <!--      </p>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--</div> -->
          <!--<div class="col-4">-->
          <!--  <div class="main-item grow">-->
          <!--    <div class="main-item-cover">-->
          <!--      <p class="cover-title">해나동물병원</p>-->
          <!--      <p class="cover-info">-->
          <!--        <i class="fa fa-star" aria-hidden="true"></i> -->
          <!--        <span class= "score"> 4.5 </span>-->
          <!--      </p>-->
          <!--    </div>-->
          <!--  </div>  -->
          <!--</div> -->
          <!--<div class="col-4">-->
          <!--  <div class="main-item grow">-->
          <!--    <div class="main-item-cover">-->
          <!--      <p class="cover-title">경민동물병원</p>-->
          <!--      <p class="cover-info">-->
          <!--        <i class="fa fa-star" aria-hidden="true"></i> -->
          <!--        <span class= "score"> 4.5 </span>-->
          <!--      </p>-->
          <!--    </div>-->
          <!--  </div>       -->
          <!--</div>  -->
          <!--<div class="col-4">-->
          <!--  <div class="main-item grow">-->
          <!--    <div class="main-item-cover">-->
          <!--      <p class="cover-title">윤석동물병원</p>-->
          <!--      <p class="cover-info">-->
          <!--        <i class="fa fa-star" aria-hidden="true"></i> -->
          <!--        <span class= "score"> 4.5 </span>-->
          <!--      </p>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--</div> -->
          <!--<div class="col-4">-->
          <!--  <div class="main-item grow">-->
          <!--    <div class="main-item-cover">-->
          <!--      <p class="cover-title">승모동물병원</p>-->
          <!--      <p class="cover-info">-->
          <!--        <i class="fa fa-star" aria-hidden="true"></i> -->
          <!--        <span class= "score"> 4.5 </span>-->
          <!--      </p>-->
          <!--    </div>-->
          <!--  </div>  -->
          <!--</div>        -->
      </div> 
      <!--여기까지가 row --->
      </div>
      <!--여기까지가 main-recent --->
    </div> <!--여기까지가 container --->
  <hr>
  </div>    <!-- 여기까지가 wrap -->
    <!-- /.container -->

<script>
// Select all links with hashes
$('a[href="#pagedown"]')
  // Remove links that don't actually link to anything
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });
  </script>
