<div class="intro">
  <%= image_tag("intro0", class: "imgintro0", :alt => "first slide")  %>
  <div class="introslogan">
    <p>서비스 소개</p>
  </div>
</div>

<div class="introsec">
</div>

<div class="container">
  <div class="row">
    <div>
      <%= image_tag("intro1", class: "imgintro", :alt => "first slide")  %>
      <%= image_tag("intro2", class: "imgintro", :alt => "first slide")  %>
      <%= image_tag("intro3", class: "imgintro", :alt => "first slide")  %>
      <%= image_tag("intro4", class: "imgintro", :alt => "first slide")  %>
      <%= image_tag("intro5", class: "imgintro", :alt => "first slide")  %>
      <%= image_tag("intro6", class: "imgintro", :alt => "first slide")  %>
      <%= image_tag("intro7-1", class: "imgintro", :alt => "first slide")  %>
    </div>
  </div>
</div>