<%= form_for([@vet, @vet.reviews.new]) do |f| %>

<div id="user_stars"></div>

<h3> 한줄평 </h3>
<div class="form_group">
  <%= f.text_area :comment, rows: 1, class: "form-control" %>  
</div>
<h3> 진료 동물 </h3>
<div class="form_group">
  <%= f.text_area :comment, rows: 1, class: "form-control" %>  
</div>

<h3> 진료 내역</h3>
<div class="form_group">
  <%= f.text_area :comment, rows: 3, class: "form-control" %>  
</div><br>
<div class="form_group">
  <%= f.text_area :comment, rows: 5, class: "form-control", placeholder: "자유롭게 후기를 남겨주세요." %>
</div>



<%= f.hidden_field :vet_id, value: @vet.id %>

<br>
<div class="actions">
  <%= f.submit "Create", class: "btn btn-primary" %>
</div>

<% end %>

<script>
  $('#user_stars').raty({
    path: '/assets',
    scoreName: 'review[star]',
    score: 1
  });
</script>